/* Reset CSS */

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    list-style-type: none;
}

/* End Reset CSS */



body{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(216, 12%, 8%);
    color: white;

    font-family: 'Overpass', sans-serif;
}

p{
    font-size: 15px;
}

.c--hidden{
    display: none !important;
}

/* ------------------ Rating state start ------------------ */

.c-rate{
    background-color: hsl(213, 19%, 18%);

    padding: 30px;

    border-radius: 27px;

    display: grid;

    grid-template: 85px 1fr 100px 50px / 360px;
}

.icon__bg{
    display: inline-block;

    background-color: hsla(214, 9%, 36%, 0.233);
    background-image: url("./images/icon-star.svg");
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 50%;

    width: 50px;
    height: 50px;
}

.c-rate-text{
    display: flex;
    flex-direction: column;
}

.text__title{
    font-size: 29px;
}

.text__subtitle{
    color: hsl(217, 12%, 63%);

    line-height: 24px;

    padding-top: 15px;

    font-weight: 400;
}

.c-rate-rate{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 10px;
    margin-top: 10px;
}

.rate__num{
    background-color: hsla(214, 9%, 36%, 0.233);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    color: hsl(217, 12%, 63%);

    font-weight: 700;

    width: 50px;
    height: 50px;

    transition: 0.3s;
}

.rate__num--selected{

    background-color: hsl(216, 12%, 54%);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    color: white;

    font-weight: 700;

    width: 50px;
    height: 50px;

    transition: 0.3s;
}

.rate__num:hover{
    background-color: hsl(25, 97%, 53%);
    color: white;
    
    cursor: pointer;

    transition: 0.3s;
}

.c-rate__btn{
    border-radius: 25px;
    border: 0px;

    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;

    font-weight: 700;

    background-color: hsl(25, 97%, 53%);

    cursor: pointer;
}

.c-rate__btn:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);

    transition: 0.3s;
}

/* ------------------ Rating state end ------------------ */

/* ------------------ Thank you state start ------------------ */

.c-thanks{
    background-color: hsl(213, 19%, 18%);

    padding: 40px 30px 40px 30px;
    
    border-radius: 27px;

    text-align: center;

    display: grid;
    align-items: center;
    justify-items: center;

    grid-template: 1fr 90px 1fr / 360px;
}

.c-thanks__status{
    background-color: hsla(214, 9%, 36%, 0.233);

    max-width: 100%;

    padding: 8px 25px 8px 25px;

    color: hsl(25, 97%, 53%);

    border-radius: 20px;
}

.text__subtitle--margin{
    margin: 0px 10px 0px 10px;
}


/* ------------------ Thank you state end ------------------ */

/* ------------------ Mobile ------------------ */

@media screen and (max-width: 475px){
    .c-rate{
        grid-template: 85px 1fr 100px 50px / 300px;

        border-radius: 15px;
    }

    .c-thanks{
        grid-template: 1fr 90px 1fr / 300px;

        border-radius: 15px;

        padding: 35px 20px 35px 20px;
    }

    .text__subtitle--margin{
        margin: 0px 5px 0px 5px;
    }
}